
#head-navbar {
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    text-align: center;
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
    border: 2px;
    border-color: #000000;
    border-style: solid;
}

#navbar ul {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#navbar li {
    display: inline;
    min-width: 740px;
    max-width: 740px;
}

#navbar li .tab {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    padding: 20px;
    color: #ffffff;
}

#navbar li .tab:hover {
    background-color: #9B1C26;
    padding: 18px;
    border: 2px;
    border-color: #333333;
    border-style: solid;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
