#head-top h1 {
    color: #333333;
    font-size: 60px;
    margin-left: 50px;
}

#head-top {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

body {
    /*background-image: url("Images/Background.jpg");*/
    background-repeat: no-repeat;
    background-position: top;
}

#frontpage {
    min-width: 500px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.hero {
    min-height: 100px;
    max-height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #333333;
    border-style: solid;
    border-width: 2px;
    border-color: #808080; 
}

#builds td {
    float: left;

}

#heropage {
    float: initial;
    min-width: 500px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#build-collection {
    background-color: #333333;
    border: 5px;
    border-color: #7d0808;
    border-style: solid;
    border-radius: 10px;
    padding-top: 50px;
}

#build-collection img {
    border-radius: 10px;
}