@{
    ViewBag.Title = "HeroPage";
}


<div id="heropage">

    <h2>HeroPage < --insert class name  </h2>
    
        <div id="build-collection">

            <table id="builds" cellpadding="5">

                <tr>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>
                
                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small.jpg" />
                        </a>
                    </td>

                </tr>

            </table>






        </div> 
</div>


