@{
    ViewBag.Title = "HeroPage";
}


<div id="heropage">

    <h2></h2>

            @*<a href="~/Build/Builder"> Create A New Build!!</a>*@
    
    <div class="left">


        <div id="Search-terms" class="Back-layer">
             <h2>Barbarian</h2>

        </div>
   

        <div id="build-collection" class="Back-layer">

            <table id="builds" cellpadding="5">

                <tr>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="~/Build/Build">
                            <img src="~/Content/Images/class_cru_small_normal.jpg" />
                        </a>
                    </td>

                </tr>

            </table>
        </div>
    </div> 



    <div class="right">
        <div id="addvertisement" class="Back-layer">

        </div>




        <div id="listststs" class="Back-layer">
            <a href="~/Build/Builder">
                <div> <h3>Make Your Own Guide</h3> </div>
            </a>
            


        </div>



    </div>
</div>


