@{
    ViewBag.Title = "Frontpage";
}

<div id="frontpage">

    <a href="~/Hero/HeroPage">
        <img src="~/Content/Images/Barb.png" />
    </a>

    <a href="~/Hero/HeroPage">
        <img src="~/Content/Images/Cru.jpg" />
    </a>

    <a href="~/Hero/HeroPage">
        <img src="~/Content/Images/DH.png" />
    </a>

    <a href="~/Hero/HeroPage">
        <img src="~/Content/Images/Monk.png" />
    </a>

    <a href="~/Hero/HeroPage">
        <img src="~/Content/Images/WD.png" />
    </a>

    <a href="~/Hero/HeroPage">
        <img src="~/Content/Images/Wiz.png" />
    </a>

    <a href="~/Hero/HeroPage">
        <img src="~/Content/Images/Wiz.png" />
    </a>

</div>
