@{
    ViewBag.Title = "Home Page";
}

<div id="frontpage">

    <div class="hero">
        <h2>   Barbarian  </h2>
    </div>

    <div class="hero">
        <h2>   Crusader  </h2>
    </div>

    <div class="hero">
        <h2>   Demon Hunter  </h2>
    </div>

    <div class="hero">
        <h2>   Monk  </h2>
    </div>

    <div class="hero">
        <h2>  Witch Doctor  </h2>
    </div>

    <div class="hero" >
        <h2>  Wizard  </h2>
    </div>

    <div class="hero">
        <h2>  Guides  </h2>
    </div>


</div>
